body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 7fr
}

.header{
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  color: #61dafb

}

.navigation{
  display: flex;
  justify-content: start;
}

.container{
  display: flex;
  justify-content: center;
}

.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link{
  text-decoration: none;
  color: #61dafb;
}

.img{
  width: 400px;
}