.container {
    display: flex;
}

.category {
    flex-grow: 1;
    border: 1px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55px;
}

.details {
    max-width: 800px;
}

.form {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
}

p {
    margin: 0;
}